
body{
    background-size: cover;
    border: 0;
    margin: 0;
    background:-moz-linear-gradient(top, white 55%, lightgray);
    background:-webkit-linear-gradient(top, white 55%, lightgray);
    background: linear-gradient(white, #c2c2c2);
         background-size: cover;
}

.head{
    font-style: italic;
    font-family: "Brandon Grotesque", serif;
    font-weight: 300;
    margin: 0;
}

.navbar{
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 30px 30px 30px 30px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #eeeeee;

}
.top{
    float: left;
}

.tpb{
    display: block;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 4px solid #dddddd;

}
.tpb:hover{
    color: black;
    background-color: #dddddd;
}
.bd{
    font-style: italic;
    font-family: "Brandon Grotesque", serif;
    font-weight: 300;
    text-align: center;
    line-height: 100%;
}

.bd p {
    font-size: 1.4em;
}

.btn{
    text-align: center;
    background-color: #2BC016;
    display: block;
    color: #ffffff;
    padding: 6px 8px;
    text-decoration: none;
    width: 180px;
    border-radius: 9px 9px 9px 9px;
    margin-left: auto;
    margin-right: auto;
    border: 0;

}

.btn{
    font-size: 20px;
}

.btn2{
    border: 0;
    float: right;
    text-align: right;
    display: block;
    font-size: 40px;
    color: white;
    padding: 6px 8px;
    text-decoration: none;
    width: 140px;

}
.body_d{
    background: #ECEDF3;
}
