
form.example input[type=text] {
    font-size: 17px;
    margin-left: 30px;
    margin-top: 30px;
    padding-left: 30px;
    border: 1px solid grey;
    float: left;
    width: 260px;
    height: 50px;
    background: #f1f1f1;
}

form.example button {
    margin-top: 30px;
    float: left;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}