.head{
    text-align: center;
    font-size: 22px;
}
.back{
    font-style: italic;
}
.head2{
    text-align: center;
}
th{
    text-align: center;
    background-color: green;
    color: yellow;
    border: 2px solid;
    margin: 2px 2px 2px 2px;

}
table{
    border: 2px solid;

}
table tr:nth-child(odd){
    background-color: gray;
}
td{
    border: 2px solid;
    margin: 2px 2px 2px 2px;
    text-align: center;

}
table tr {
    border: 2px solid;
    margin: 2px 2px 2px 2px;
    text-align: center;
}

