
h1, h2{
    font-family: 'Bungee Outline', cursive;

    text-align: center;
}
*{
    font-family: 'Langar', cursive;

}
h3{
    font-family: 'Hanalei Fill', cursive;

}
table{
    border: 1px solid black;
    margin-bottom: 16px;

}
th, td{
    border: 1px solid black;
}

.hd{
    border: 1px solid black;
    background-color: silver;
    color: black;
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    margin-bottom: 0;
    width: 100px;
    height: 35px;
}

.bl {
    background-color: yellowgreen;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    color: blue;
    padding: 10px;
    position: relative;
}
.head_2{
    border: 1px solid black;
    background-color: silver;
    color: black;
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    margin-bottom: 0;
    width: 100px;
    height: 35px;
}
.bl_2 {
    background-color: orange;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    color: darkgreen;
    padding: 10px;
    position: relative;
}
.head_3{
    border: 1px solid black;
    background-color: salmon;
    color: ivory;
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    margin-bottom: 0;
    width: 140px;
    height: 35px;
}
.bl_3 {
    background-color: aquamarine;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    color: crimson;
    padding: 10px;
    position: relative;
}
.head_4{
    border: 1px solid black;
    background-color: darkmagenta;
    margin-bottom: 0;
    color: yellow;
    padding: 1px;
    position: absolute;
    bottom: 0; right: 0;
    float: right;
    text-align: center;
    width: 200px;
    height: 35px;
}
.bl_4 {
    background-color: darkgoldenrod;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    color: crimson;
    padding: 10px;
    position: relative;

}

.picl {
    margin-left: auto;
    margin-right: auto;
    color: black;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}